.buttons{
    display: flex;
    justify-content: center;
    gap: 25px;
}

h1{
    background-color: black;
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    color: greenyellow;
}

.buttons button{
    padding: 5px 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

*{
    font-size: 50px
}