*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

.parent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 10px;
}

.card{
  border: 1px solid #d1cfcf;
  padding: 10px 20px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
  display: flex;
  justify-content: space-between;
}

.top button{
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #d1cfcf;
  border-radius: 5px;
}

.center{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.center span{
  font-weight: 500px;
  font-size: 10px;
  color: #898989;
  margin-left: 5px;
}

.tags{
  display: flex;
  gap: 10px;
}

.tag{
  padding: 5px 10px;
  background-color: #d7d7d7;
  border: 1px solid #e1dfdf;
  border-radius: 5px;
  font-size: 14px;
}

.bottom{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1dfdf;
  padding: 5px 0px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}