*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px;
}

h1{
    font-size: 50px;
}

button, input{
    margin: 5px;
    border: 2px solid gray;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover{
    background-color: rgb(44, 42, 42);
}

button:active{
    scale: calc(1.1);
}