* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
  font-size: 100px;
  text-decoration: underline;
  margin-top: 200px;
  text-transform: capitalize;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px 35px;
  height: 70px;
  background: #0da8bc;
}

#logo {
  display: flex;
  align-items: center;
}

#logo a {
  color: white;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 55px;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h3 {
  position: absolute;
  bottom: 0;
  background-color: rgb(21, 117, 117);
  width: 100%;
  text-align: center;
  padding: 5px 10px;
}

.products {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 50px;
  text-decoration: underline;
}

.products a {
  color: white;
}

.nav-2{
  display: flex;
  margin: 5px;
}

.nav-2 button{
  background-color: rgb(239, 231, 11);
  border-radius: 5px;
  padding: 5px 15px;
}